# Used by Dockerfile (based on tensorflow-gpu:2.4.2 environment)
# Dev environment is 2.4.1 (I think this should be okay)
tensorflow~=2.4.2
tensorflow-gpu~=2.4.2
opencv-python~=4.5.3.56
numpy
scikit-image
pandas
imgaug
scikit-learn
scipy
flask
Pillow
pybase64